.button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // height: 50px;
  border-radius: 100px;
  color: $text--light;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &__icon {
    width: 14px;
    height: 14px;
    display: block;
    margin-right: 12px;
  }
}