.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 100px;
  color: $text--light;
  // background: transparent;
  // 
  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  //
  padding-left: 20px;
  padding-right: 20px;
  
  &:hover {
    color: $text--lighter;
  }


  &__icon {
    width: 14px;
    height: 14px;
    display: block;
    margin-right: 12px;
  }

  // STATES
  &--elevated {
    box-shadow: -10px -10px 18px #FFFFFF, 10px 10px 18px rgba(94, 93, 121, 0.1);
  }

  &--pressed {
    box-shadow: -10px -10px 18px rgba(255, 255, 255, 0.25), 10px 10px 18px rgba(94, 93, 121, 0.02), inset -10px -10px 18px rgba(255, 255, 255, 0.5), inset 10px 10px 18px rgba(94, 93, 121, 0.02);
    color: $orange;
    
    background: $background;
  }

  &--round {
    height: 40px;
    width: 40px;
    padding: unset;
    border-radius: 9999px;
  }
}