.button-xl {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  place-content: center;
  gap: 16px;
  height: 81px;
  width: 372px;
  background: linear-gradient(146.7deg, #FF7337 12.07%, #FF5C16 86.23%);
  box-shadow: -10px -10px 18px #FFFFFF, 10px 10px 18px rgba(94, 93, 121, 0.1), inset 10px 10px 18px rgba(255, 255, 255, 0.2), inset -10px -10px 18px rgba(94, 93, 121, 0.1);
  border-radius: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  transition: all .2s ease-in-out;

  
  @include max-width(md) {
    height: 69px;
    width: 100%;
  }
  
  &:hover, &:focus {
    background: $background-1;
    color: $orange;
    /* hover 2 */
    box-shadow: -10px -10px 18px rgba(255, 255, 255, 0.5), 10px 10px 18px rgba(94, 93, 121, 0.05), inset -10px -10px 30px rgba(255, 255, 255, 0.75), inset 10px 10px 30px rgba(94, 93, 121, 0.1);
    
    &::after {
      animation: fadeIn .3s;
      content: url("data:image/svg+xml; utf8, %3Csvg width='5' height='10' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 5 5-5 5' stroke='%23FF5C16' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      display: block;
      width: 5px;
      height: 10px;
      
    }
  }
}