.modal {
  display: none;
  opacity: 0;
  &__active {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(99, 98, 98);
    z-index: 999;
    overflow-y: auto;
    padding: 40px;
    // 
    animation: fadeIn .6s forwards;
    @include max-width(md) {
      padding: unset;
    }
  }

  &__close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: $text;
    cursor: pointer;
  }

  &__dialog {
    position: relative;
    display: grid;
    width: 750px;
    padding: 60px 40px;
    background: $background-1;
    border-radius: 10px;
    align-content: center;
    row-gap: 60px;
    @include max-width(md) {
      border-radius: unset;
      padding-left: 15px;
      padding-right: 15px;
      width: 100vw;
      height: 100vh;
    }
  }

  &__heading {
    text-align: center;
    // justify-self: center;
    @include max-width(md) {
      width: min-content;
      text-align: left;
    }
  }
}