.slides-counter {
  display: flex;
  align-items: center;
  gap: 8px;

  &__current {
    color: $text;
  }

  &__hyphen {
    border: 1px solid rgba($text, 0.5);
    width: 20px;
    height: 0;
  }

  &__total {
    color: rgba($text, 0.5);
  }
}