.main-header {
  height: $header-height;
  background: $background;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__list {
    margin-left: 80px;
    // column-gap: 40px;
  }

  &__link {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__actions {
    margin-left: auto;
  }

  &__actions-item:first-child {
    margin-right: 35px;
  }

  &__callback {
    font-weight: 900;
  }
}