.main-header {
  height: $header-height;
  background: $background-1;

  @include max-width(md) {
    height: 90px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__menu {
    margin-left: 80px;

    @include max-width(xxl) {
      margin-left: auto;
    }

    @include max-width(md) {
      display: none;
    }
  }

  &__list {
    column-gap: 6px;
  }

  &__link {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__actions {
    margin-left: auto;
  }
}