form.contacts-form
  input(placeholder="имя").textfield.text-body
  div.contacts-form__subsection
    input(placeholder="+7 (965) 664-73-98").textfield.text-body
    input(placeholder="электронная почта").textfield.text-body
  label.contacts-form__policy.checkbox
    input(type="checkbox" id="policy" hidden).checkbox__input
    div.checkbox__view
    p.contacts-form__policy-text.checkbox__label-text.text-body Нажимая на кнопку «Отправить», я принимаю условия политики конфиденциальности
  div.contacts-form__actions
    button(type="submit").button-xl 
      span.button-xl__text Отправить