.text-heading {
  font-family: Akrobat;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  color: $text;

  &--1 {
    font-size: 132px;
  }

  &--2 {
    font-size: 60px;
  }

  &--3 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
  }
}

.text-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: $text--light;

  &--solid {
    color: $text;
  }

  &--16 {
    font-size: 16px;
  }
  &--18 {
    font-size: 18px;
  }
}