include ../../components/case.pug
include ../../components/menu.pug
include ../../components/slides-counter.pug
- var menuItems = ["Лендинг", "Интернет-магазин", "Корпоративный сайт", "Дизайн"]
section.s-cases.concane
  div.container
    div.row.s-cases__top
      h2.s-cases__heading.text-heading.text-heading--2.col-xl-5.col-12 Кейсы
      +menu(menuItems)(class="s-cases__menu col-xl-7 col-12")
    div.s-cases__text.row
      p.s-cases__chunk-1.text-body.offset-xl-5.col-xl-3.col-md-6.col-12 Лендинг — это одностраничный сайтс краткой информацией о товаре, услуге или мероприятии. Его задача — превращать посетителей в клиентов.
      p.text-body.col-xl-3.col-md-6.col-12 Пользователи переходят на лендингпо ссылкам с рекламных баннеров, постов из соцсетей, электронных писем или СМС.
    div.row.s-cases__content
      -
        const casesControlsSelectors = {
          buttonPrevClass: "s-cases__button-prev",
          buttonNextClass: "s-cases__button-next",
        }

      +slider-controls(casesControlsSelectors).s-cases__controls
        +slides-counter.s-cases__counter#cases_counter

      div.col-lg-12.s-cases__slider
        div(id="cases_slider").swiper
          div.swiper-wrapper
            div.swiper-slide
              +case("case-1", "01")
            div.swiper-slide
              +case("case-2", "02")
            div.swiper-slide
              +case("case-3", "03")
            div.swiper-slide
              +case("case-4", "04")