section.s-contacts
  div.container
    div.s-contacts__top.row
      div.col-lg-4.col-sm-6.col-12.offset-lg-4.offset-sm-3
        h2.s-contacts__heading.text-heading.text-heading--2 Контакты
        p.s-contacts__text.text-body.text-body--18 У вас есть инетерсный проект? Напишите нам, и мы его разработаем
    form.s-contacts__form.row
      div.col-sm-12
        input(placeholder="имя").textfield.text-body.text-body
      div.col-sm-6
        input(placeholder="+7 (965) 664-73-98").textfield.text-body
      div.col-sm-6
        input(placeholder="электронная почта").textfield.text-body
      div.col-sm-12
        //- checkbox
      div.col-lg-4.col-sm-6.col-12.offset-lg-4.offset-sm-3
        button(type="submit").button-xl Отправить