section(id="contacts").s-contacts.convex.convex--top
  div.s-contacts__container.container
    div.combs.s-contacts__combs-1
      include ../../../assets/svg/combs-4.svg
    div.combs.s-contacts__combs-2
      include ../../../assets/svg/combs-5.svg
    div.s-contacts__top.row
      h2.s-contacts__heading.col-12.text-heading.text-heading--2 Контакты
      p.s-contacts__text.col-12.text-body.text-body--18 У вас есть инетерсный проект? #[br] Напишите нам, и мы его разработаем
      div.col-xl-8.offset-xl-2.col-12
        include ../../includes/contacts-form.pug