include ../../components/menu.pug
- var menuItems = ["Лендинг", "Интернет-магазин", "Корпоративный сайт", "Дизайн"]
section.s-service.convex.convex--top.convex--bottom
  div.container
    div.row.s-service__top
      h2.s-service__heading.text-heading.text-heading--2.col-xl-5.col-12 Услуги
      +menu(menuItems)(class="s-service__menu col-xl-7 col-12")
    div.row.s-service__options
      div.s-service__options-wrap.col-xl-7.offset-xl-5.col-12
        section.s-service__options-section
          h4.s-service__subheader На конструкторе
          ul.s-service__list
            li.s-service__option #[a(href="#") Tilda]
            li.s-service__option #[a(href="#") Flexbe]
            li.s-service__option #[a(href="#") LPGenerator]
            li.s-service__option #[a(href="#") Wix]
            li.s-service__option #[a(href="#") Creatium]
        section.s-service__menu-section
          h4.s-service__subheader На шаблоне CMS
          ul.s-service__list
            li.s-service__option #[a(href="#") Wordpress]
            li.s-service__option #[a(href="#") Bitrix]
            li.s-service__option #[a(href="#") Opencart]
            li.s-service__option #[a(href="#") Modx]
            li.s-service__option #[a(href="#") Joomla]
        section.s-service__menu-section
          h4.s-service__subheader Верстка + #[br]программирование
          ul.s-service__list
            li.s-service__option #[a(href="#") HTML]
            li.s-service__option #[a(href="#") CSS]
            li.s-service__option #[a(href="#") JS]
            li.s-service__option #[a(href="#") PHP]
            li.s-service__option #[a(href="#") Vue.js]
            li.s-service__option #[a(href="#") React.js]
            li.s-service__option #[a(href="#") Laravel]
            li.s-service__option #[a(href="#") Symphony ]
            li.s-service__option #[a(href="#") Различные CMS ]