section.s-stats
  div.container
    div.row
      div.col-lg-3
        div.s-stats__card.stats-card
          h2.text-heading.text-heading--2.stats-card__heading 400+
          p.text-body.text-body--16.stats-card__text проектов, выполненных по всему миру
      div.col-lg-3
        div.s-stats__card.stats-card
          h2.text-heading.text-heading--2.stats-card__heading 2,5 #[span.stats-card__letters млн] +
          p.text-body.text-body--16.stats-card__text заработали наши партнёры
      div.col-lg-3
        div.s-stats__card.stats-card
          h2.text-heading.text-heading--2.stats-card__heading 5 #[span.stats-card__letters лет] +
          p.text-body.text-body--16.stats-card__text заработали наши партнёры
      div.col-lg-3
        div.s-stats__card.stats-card
          h2.text-heading.text-heading--2.stats-card__heading 76 #[span.stats-card__percent %]
          p.text-body.text-body--16.stats-card__text заработали наши партнёры
