include ../../components/slider-controls.pug
include ../../components/slides-counter.pug

section(id="title").s-title.convex.convex--bottom
  div.s-title__container.container
    div.combs.s-title__combs-1
      include ../../../assets/svg/combs-1.svg
    div.combs.s-title__combs-2
      include ../../../assets/svg/combs-2.svg
    div.s-title__content.row
      div.col-12.s-title__slider
        div(id="title_slider").swiper
          div.s-title__wrapper.swiper-wrapper
            div.s-title__item.swiper-slide
              div.s-title__slide-wrapper
                div.row.s-title__slide.offer
                  h1.offer__title.text-heading.text-heading--1
                    span.offer__chunk-1 Разработка
                    span.offer__chunk-2 вашего сайта
                  p.offer__text.text-body Делегируйте часть диджитал задач надёжным исполнителям без рисков и зарабатывате больше
            div.s-title__item.swiper-slide
              div.s-title__slide-wrapper
                div.row.offer
                  h1.offer__title.text-heading.text-heading--1
                    span.offer__chunk-1 Разработка
                    span.offer__chunk-2 вашего сайта
                  p.offer__text.text-body Делегируйте часть диджитал задач надёжным исполнителям без рисков и зарабатывате больше
            div.s-title__item.swiper-slide
              div.s-title__slide-wrapper
                div.row.offer
                  h1.offer__title.text-heading.text-heading--1
                    span.offer__chunk-1 Разработка
                    span.offer__chunk-2 вашего сайта
                  p.offer__text.text-body Делегируйте часть диджитал задач надёжным исполнителям без рисков и зарабатывате больше
      - 
        const titleControlsSelectors = {
          buttonPrevClass: "s-title__button-prev",
          buttonNextClass: "s-title__button-next",
        }
      +slider-controls(titleControlsSelectors).s-title__controls
        +slides-counter(class="s-title__counter" id="title_counter")

    div.s-title__actions.row
      div.col-12
        button(type="button" id="cm_trigger").s-title__contact.button-xl Связаться
