mixin menu(items, childSelectors={list: "", item: "", button: ""})
  nav.menu&attributes(attributes)
    ul(class= childSelectors.list).menu__list
      each item, index in items
        li(class= childSelectors.item).menu__item
          button(type="button" class=["menu__button", {"menu__button--pressed": index === 0}, childSelectors.button])= item