mixin modal(headingText)
  div.modal&attributes(attributes)
    div.modal__dialog
      div.modal__close
        include ../../assets/svg/cross.svg
      if (headingText)
        h2.modal__heading.text-heading.text-heading--2= headingText
      block