mixin slider-nav()
  div.slider-nav
    button(type="button").slider-nav__prev.button.button--round.button--elevated
      include ../../assets/svg/chevron_left.svg
    div.slider-nav__counter.text-body
      span.slider-nav__current 01
      span.slider-nav__hyphen
      span.slider-nav__total 04
    button(type="button").slider-nav__next.button.button--round.button--elevated
      include ../../assets/svg/chevron_right.svg