extends ../layouts/main.pug
include ../components/button.pug
block page_content
  include _main/s-title.pug
  include _main/s-cases.pug
  //- include _main/s-service.pug
  //- include _main/s-stats.pug
  //- include _main/s-contacts.pug
