$mobile-gap: 10px;

.menu {
  // TODO
  &__list {
    display: flex;
    column-gap: 25px;
    
    @include max-width(xxl) {
      justify-content: center;
    }
    @include max-width(md) {
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  &__item {
    @include max-width(md) {
      flex-basis: calc(50% - $mobile-gap / 2);
      text-align: center;
    }
  }
}