footer.main-footer
  div.container.main-footer__container
    div.row.main-footer__row
      div.col-md-4.col-12
        a(href="/").main-footer__logo
          include ../../../assets/svg/webmind_logo.svg
      div.col-xl-5.offset-xl-7.col-md-4.offset-md-8.col-12.main-footer__actions
        a(href="mailto:mailpochta@mail.ru").button-link.main-footer__link.main-footer__mailto
          i.button-link__icon
            include ../../../assets/svg/@.svg
          span.button-link__text mailpochta@mail.ru
        a(href="tel:79656647398").button-link.main-footer__link
          i.button-link__icon
            include ../../../assets/svg/phone.svg
          span.button-link__text +7 (965) 664-73-98
