include ../../components/button.pug
include ../../components/menu.pug

- var menuItems = ["Главная", "Услуги", "Кейсы", "Контакты"]
header.main-header
  div.main-header__wrapper.container
    a(href="/").main-header__logo
      include ../../../assets/svg/webmind_logo.svg
    +menu(menuItems, true)
    div.main-header__actions
      button(type="button").button.button--elevated.main-header__callback
        i.button__icon
          include ../../../assets/svg/phone.svg
        span.button__text +7 (965) 664-73-98