.s-cases {
  &__top {
    row-gap: 50px;
    align-items: center;
  }
  &__content {
    padding-top: 80px;
    position: relative;
  }
  // slider-nav
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 1 / 1 / 3 / 13;
  }
  
  &__slider {
    grid-area: 1 / 1 / 3 / 13;
  }

  &__button-prev {
    margin-left: -80px;
  }

  &__button-next {
    margin-right: -80px;
  }

  &__counter {
    position: absolute;
    top: 0;
  }
}