.s-contacts {
  padding-bottom: 120px;

  &__container {
    position: relative;
  }

  &__top {
    margin-bottom: 60px;
    text-align: center;
    row-gap: 30px;

    @include max-width(md) {
      margin-bottom: 50px;
    }
  }

  &__combs-1 {
    bottom: -100px;
    left: -120px;

    @include max-width(xl) {
      bottom: -135px;
      left: -300px;
    }
  }

  &__combs-2 {
    top: -20px;
    right: -110px;

    @include max-width(xl) {
      display: none;
    }
  }
}
